extends templates/template 
block append config
  - actual_page = "Nueva contraseña";
block main
  div.flex-container.lrBorderRadius
    div.log
      div.lrHead
        h1 Nueva contraseña
      form(action=`/receive_new_password/${id}/${token}`, method="post", class="lrBody")
        div
          input(type="password", name="password", placeholder= "Ingresa tu password",class="lrInput", required)
          input(type="password", name="confirm_password", placeholder= "Confirma tu password",class="lrInput")
        div
          button(type="submit", class="lrBtn") Iniciar