extends templates/template 
block append config
  - actual_page = "Recuperar contraseña";
block main
  div.flex-container.lrBorderRadius
    div.log
      div.lrHead
        h1 Recuperar contraseña
      form(action="/user/:email", method="post", class="lrBody")
        div
          input(type="email", name="email", placeholder= "Ingresa tu email", class="lrInput" required)
        div
          button(type="submit", class="lrBtn") Iniciar