doctype html
html
  html(lang="es")
  block config
    include ../config/config
  head
    meta(charset="UTF-8")
    block head
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet", href="css/index.css")
      link(rel="stylesheet", href="css/login.css")
      link(rel="stylesheet", href="css/responsive.css")
        
      title= actual_page + " | " + title

  body
    block main